@model IEnumerable<TC3EF6.Domain.Classes.Stash.Book>
<style>
    /* Using jquery.dataTables.css with bootstrap4 screws up the padding on pagination 
       links, however not including it removes the selected row behavior. The following
       styles were extracted from jquery.dataTables.css in an effort to restore that
       selection behavior.
    */
    table.dataTable tbody tr.selected {
        background-color: #B0BED9;
    }
    table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
        background-color: #acbad4;
    }
    table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
        background-color: #aab7d1;
    }
</style>
<div class="card" id="list-panel">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="card-title list-panel-title">@ViewBag.Title</h1>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#newModal" id="new-button">
                    <span class="fas fa-plus-square mr-1"></span><span>New</span>
                </button>
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#filterModal" id="filter-button">
                    <span class="fas fa-filter mx-2"></span><span>Filter</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table id="books-data-table" class="table table-striped table-bordered table-hover compact order-column"></table>
    </div>
</div>

@Html.Action("Filter")

@* Edit:    <i class="fas fa-pen-square"></i> *@
@* New:     <i class="fas fa-plus-square"></i> *@
@* Copy:    <i class="fas fa-copy"></i> *@
@* Delete:  <i class="fas fa-minus-square"></i> *@

@* Search:  <i class="fas fa-search"></i> *@
@* Filter:  <i class="fas fa-filter"></i> *@
@* Sort:    <i class="fas fa-sort"></i> *@
@* Report:  <i class="fas fa-file-invoice"></i> *@
@* SQL:     <i class="fas fa-database"></i> *@

@section Scripts
{
    @Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
        var bookListVM;
        $(function () {
            bookListVM = {
                dt: null,
                init: function () {
                    dt = $('#books-data-table').DataTable({
                        "fixedHeader": { "footer": true },
                        "buttons": ['copy', 'excel', 'pdf', 'colvis'],
                        //"dom": 'Blfiprtip',
                        //"dom": '<"top"Blfir>pt<"bottom"ip><"clear">',                        "searching": true,
                        //"dom": "<'row'<'col-sm-12'tr>>" +
                        //    "<'row'<'col-sm-4'l><'col-sm-8'p>>",
                        "dom": "<'row'<'col'l><'col'i><'col'p>>" +
                            "<'row'<'col'r><'col-sm-12'f>>" +
                            "<'row'<'col't>>" +
                            "<'row'<'col'B><'col'i><'col'p>>",
                        //"select": true,
                        "scrollY": "50vh",
                        "serverSide": true,
                        "processing": true,
                        //"pagingType": "full_numbers",
                        "ajax": {
                            "url": "@Url.Action("Get", "Books")",
                            "data": function (data) {
                                //data.ID = $("#ID").val();
                                //data.AlphaSort = $("#AlphaSort").val();
                                //data.Title = $("#Title").val();
                                //data.Author = $("#Author").val();
                                //data.Media = $("#Media").val();
                                //data.ISBN = $("#ISBN").val();
                                //data.Location = $("#Location").val();
                                data.AlphaSort = $("#AlphaSort").val();
                                data.Title = $("#Title").val();
                                data.Author = $("#Author").val();
                                data.MediaFormat = $("#MediaFormat").val();
                                data.ISBN = $("#ISBN").val();
                                data.Location = $("#Location").val();
                            }
                        },
                        "columns": [
                            { "title": "ID",        "data": "ID",           "visible": false,       "defaultContent": "<i>Null</i>" },
                            { "title": "AlphaSort", "data": "AlphaSort",    "searchable": true,     "defaultContent": "<i>Null</i>" },
                            { "title": "Title",     "data": "Title",        "searchable": true,     "defaultContent": "<i>Null</i>" },
                            { "title": "Author",    "data": "Author",       "searchable": true,     "defaultContent": "<i>Null</i>" },
                            { "title": "Media",     "data": "MediaFormat",  "searchable": true,     "defaultContent": "<i>Null</i>" },
                            { "title": "ISBN",      "data": "ISBN",         "searchable": true,     "defaultContent": "<i>Null</i>" },
                            { "title": "Location",  "data": "Location",     "searchable": true,     "defaultContent": "<i>Null</i>" }
                        ],
                        "displayStart": 0, "pageLength": 25,
                        "lengthMenu": [[10, 25, 50, 100, 1000, -1], [10, 25, 50, 100, 1000, "All"]],
                    });
                },
                refresh: function () {
                    dt.ajax.reload();
                },
                //adjustButtonPadding: function () {
                //    $('.paginate_button').css("padding", "0em");
                //}
            }

            $('#btnPerformFilter').on("click", bookListVM.refresh); // Modal Filter button click handler
            bookListVM.init();  // initialize the datatables
            //bookListVM.adjustButtonPadding();   //Override padding style on pagination buttons

            var table = $('#books-data-table').DataTable();
            $('#books-data-table tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                console.log(`You clicked on ID #${data['ID']}; AlphaSort "${data['AlphaSort']}"`);
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
        });
    </script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>*@
    @*<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>*@
    @*<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>*@
    @*<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>*@
}